body, p, h1, h2, h3, h4, h5, h6, a, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #4f4fff;
}

body {
    background-color: #3f4146;
}

header {
    background-color: #333;
    margin: 0;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

header .title {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    color: #04AA6D;
}

header img {
    max-height: 100px;
}

#horizontalNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#horizontalNavBar li {
    float: left;
    list-style: none;
}

#horizontalNavBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#horizontalNavBar a:hover:not(.active) {
    background-color: #111;
}

#horizontalNavBar .active {
    background-color: #04AA6D;
}

#verticalNavBar li {
    list-style: none;
}

#verticalNavBar a {
    cursor: pointer;
    display: block;
    color: #888;
    padding: 8px 16px;
    border-radius: 5px;
}

#verticalNavBar a:hover:not(.active) {
    background-color: #888;
    color: #2f3136;
}

#verticalNavBar .active {
    background-color: #04AA6D;
    color: #2f3136;
    cursor: default;
}

#verticalNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 0;
    width: 25%;
    background-color: #2f3136;
    position: fixed;
    max-height:  80%;
    overflow: auto;
}

.unread {
    font-weight: bold;
}

.anchor {
    display: block;
    position: relative;
    top: "from JS";
}

.paragraphe {
    width: 70%;
    padding-left: 20px;  
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #415257;
    border-radius: 10px;
}